<section>
    <div class="container">
        <button class="btn btn-primary" onclick="toggleForm()">Create new store</button>

        <!-- create store - form-->
        <div id="form-new-store" class="container mt-3 d-none">
            <form action="/api/admin/stores" method="POST" class="row g-3">
                <div class="col-12">
                    <label for="name" class="form-label">Store name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="col-12">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="address" required>
                </div>
                <div class="col-md-6">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" name="city" required>
                </div>
                <div class="col-md-4">
                    <label for="state" class="form-label">State</label>
                    <input type="text" class="form-control" id="state" name="state" required>
                </div>
                <div class="col-md-2">
                    <label for="zip" class="form-label">Zip Code</label>
                    <input type="text" class="form-control" id="zip" name="zip_code" required>
                </div>
                <div class="col-md-6">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="phone" class="form-control" id="phone" name="phone" required>
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
            <div class="mt-2">
                <button class="btn btn-secondary" onclick="toggleForm()">Cancel</button>
            </div>
        </div>

        <!-- edit store - form-->
        <div id="form-edit-store" class="container mt-3 d-none">
            <form action="/api/admin/stores?_method=PUT" method="POST" class="row g-3">
                <div class="col-12">
                    <input type="hidden" id="edit-id" name="id">
                    <label for="name" class="form-label">Store name</label>
                    <input type="text" class="form-control" id="edit-name" name="name" required>
                </div>
                <div class="col-12">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="edit-address" placeholder="1234 Main St" name="address" required>
                </div>
                <div class="col-md-6">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="edit-city" name="city" required>
                </div>
                <div class="col-md-4">
                    <label for="state" class="form-label">State</label>
                    <input type="text" class="form-control" id="edit-state" name="state" required>
                </div>
                <div class="col-md-2">
                    <label for="zip" class="form-label">Zip Code</label>
                    <input type="text" class="form-control" id="edit-zip" name="zip_code" required>
                </div>
                <div class="col-md-6">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="phone" class="form-control" id="edit-phone" name="phone" required>
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="edit-email" name="email" required>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-warning">Edit</button>
                </div>
            </form>
            <div class="mt-2">
                <button class="btn btn-secondary" onclick="toggleCancel()">Cancel</button>
            </div>
        </div>

        <!-- read stores - table and delete button/form -->
        <div class="mt-5">
            <h1>Our branches:</h1>
            <table class="table table-responsive">
                <thead>
                    <tr>                        
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Zip Code</th>                        
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each stores}}
                    <tr>
                        <th scope="row">{{this.id}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.address}}</td>
                        <td>{{this.city}}</td>
                        <td>{{this.state}}</td>
                        <td>{{this.zip_code}}</td>
                                                
                        <td><button class="btn btn-warning text-light"
                                onclick="toggleEdit('{{this.id}}', '{{this.name}}', '{{this.address}}', '{{this.city}}', '{{this.state}}', '{{this.zip_code}}', '{{this.phone}}', '{{this.email}}')"><i
                                    class="bi bi-pencil"></i></button></td>
                        <td>
                            <form action="/api/admin/stores?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete?');">
                                <input type="hidden" name="id" value="{{this.id}}">
                                <button id="delete" type="submit" class="btn btn-danger text-light"><i class="bi bi-trash"></i>
                                </button>
                                
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>


        </div>

    </div>
</section>

<script>

    const toggleForm = () => {
        let form = document.getElementById("form-new-store");
        form.classList.toggle("d-block");
        form.classList.toggle("d-none");
    };

    const toggleEdit = (id, name, address, city, state, zip_code, phone, email,) => {
        let form = document.getElementById("form-edit-store");
        document.getElementById("edit-id").value = id;
        document.getElementById("edit-name").value = name;        
        document.getElementById("edit-address").value = address;
        document.getElementById("edit-city").value = city;
        document.getElementById("edit-state").value = state;
        document.getElementById("edit-zip").value = zip_code;
        document.getElementById("edit-phone").value = phone;
        document.getElementById("edit-email").value = email;
        form.classList.remove("d-none");
        form.classList.add("d-block");        
    };

    const toggleCancel = () => {
        let edit = document.getElementById("form-edit-store");        
        edit.classList.add("d-none");
    }

</script>