<section id ="brands">
    <div class="container">
        <button class="btn btn-primary" onclick="toggleForm()">Create new brand</button>
        
        <!-- create brand - form-->
        <div id="form-new-brand" class="container mt-3 d-none p-0">
            <div class="row">
                <div class="col-6">
                    <form action="/api/admin/brands" method="POST">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" id="new-brand" placeholder="Brand name" name="name" required>
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </form>        
                </div>
                <div class="col-6">
                    <button class="btn btn-secondary text-light" onclick="toggleForm()">Cancel</button>
                </div>
            </div>            
        </div>

        <!-- edit brand - form-->
        <div id="form-edit-brand" class="container mt-3 d-none p-0">
            <div class="row">
                <div class="col-6">
                    <form action="/api/admin/brands?_method=PUT" method="POST">
                        <div class="row">
                            <div class="col">
                                <input type="hidden" id="brand_id" name="id" readonly="readonly">
                                <input type="text" class="form-control" id="brand_name" placeholder="Brand name" name="name" required>
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-warning">Edit</button>
                            </div>
                        </div>
                    </form>        
                </div>
                <div class="col-6">
                    <button class="btn btn-secondary text-light" onclick="toggleCancel()">Cancel</button>
                </div>
            </div>            
        </div>


        <div class="mt-5">
            <h1>Our brands:</h1>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each brands}}
                    <tr>
                        <th scope = "row">{{this.id}}</th>
                        <td>{{this.name}}</td>
                        <td>
                            <button class="btn btn-warning text-light" onclick="toggleEdit('{{this.id}}', '{{this.name}}')"><i class="bi bi-pencil"></i>
                            </button>
                        </td>
                        <td>
                            <form action="/api/admin/brands?_method=DELETE" method="POST"
                                onsubmit="return confirm('Are you sure you want to delete?');">
                                <input type="hidden" name="id" value="{{this.id}}">
                                <button class="btn btn-danger text-light">
                                    <i class="bi bi-trash"></i>
                                </button>                            
                            </form>
                            
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>




    </div>
</section>

<script>
    const toggleForm = () => {
        let form = document.getElementById("form-new-brand");
        form.classList.toggle("d-none");
        form.classList.toggle("d-block");
    };

    const toggleEdit = (id, name) => {
        let form = document.getElementById("form-edit-brand");
        document.getElementById("brand_id").value = id;
        document.getElementById("brand_name").value = name;
        form.classList.remove("d-none");
        form.classList.add("d-block");
    };

    const toggleCancel = () => {
        let form = document.getElementById("form-edit-brand");
        form.classList.add("d-none");
    };



</script>