
<section id="recipes">
    <div class="container">

        <button class="btn btn-primary" onclick="toggleForm()">Register new recipe</button>

        <!-- create recipe - form-->
        <div id="form-new-recipe" class="container mt-3 d-none p-0">
            <div class="col-10 mx-auto">
                <form action="/api/admin/recipes" method="POST" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <div class="mb-3">
                            <label for="title" class="form-label">Recipe title</label>
                            <input type="text" class="form-control" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="content" class="form-label">Recipe</label>
                            <textarea id="editor" class=" 
                            form-control" name="content"></textarea>
                        </div>
                        <div class="mb-3">
                            <br>
                            <input type="file" class="form-control mt-2" placeholder="Upload image" name="photo" id="photo">
                        </div>
                        <div class="mb-3">
                            <label for="customer_id" class="form-label">Customer name</label>
                            <input type="text" class="form-control" name="customer_id" required>
                        </div>
                        <div clas"mb-3">
                            <input type="hidden" name="approved" value="false">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-10 mx-auto">
                <button class="btn btn-secondary text-light" onclick="toggleForm()">Cancel</button>
            </div>
        </div>

        <!-- edit recipe - form -->
        <div id="form-edit-recipe" class="container mt-3 p-0 d-none">
            <div class="col-10 mx-auto">
                <form action="/api/admin/recipes?_method=PUT" method="POST">
                    <div class="row mb-3">
                        <div class="mb-3">
                            <input type="hidden" id="edit-id" name="id">
                            <label for="title" class="form-label">Recipe title</label>
                            <input type="text" class="form-control" id="edit-title" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="content" class="form-label">Recipe</label>                            
                            <textarea id="edit-editor" class="form-control" name="content" id="edit-content" required></textarea>
                        </div>
                        <div class="mb-3">
                            <br>
                            <input type="file" class="form-control mt-2" id="edit-file" placeholder="Upload image" name="photo">
                        </div>
                        <div class="mb-3">
                            <label for="customer_id" class="form-label">Customer name</label>
                            <input type="text" class="form-control" id="edit-customer-id" name="customer_id" required>
                        </div>
                        <div clas"mb-3">
                            <input type="hidden" id="edit-approved" value="false">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-warning">Edit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-10 mx-auto">
                <button class="btn btn-secondary text-light" onclick="toggleCancel()">Cancel</button>
            </div> 
        </div>

        <!-- read recipes - table and delete button/form -->
        <div class="mt-5">
            <h1>Recipes:</h1>
            <table class="table table-responsive" id="table-recipes">
                <thead>
                    <tr>
                        <th>Title</th>                        
                        <th>Photo</th>                        
                        <th>View</th>
                        <th>Approved</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each recipes}}
                    <tr>                        
                        <th>{{this.title}}</th>
                        <td> 
                            <img src="/images/recipes/{{this.id}}.jpeg" alt="recipe image" width="80px" height="60px">
                        </td>
                        <td>
                            <a href="/recipes?id={{this.id}}" target="_blank" class="btn btn-primary text-light"><i class="bi bi-eye"></i></a>                        
                        </td>
                        <td>
                            <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off" onclick="changeApproved()">
                            <label id = "approved-color" class="btn btn-secondary" for="btn-check">
                                <i id="approved-icon" class="text-light bi bi-emoji-neutral"></i>
                            </label>                        
                        </td>                                              
                        <td><button class="btn btn-warning text-light"
                                onclick="toggleEdit('{{this.id}}', '{{this.title}}', '{{this.content}}', '{{this.file}}', '{{this.approved}}', '{{this.customer_id}}')"><i class="bi bi-pencil"></i></button>
                        </td>
                        <td>
                            <form action="/api/admin/recipes?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete?');">
                                <input type="hidden" name="id" value="{{this.id}}">
                                <button id="delete" type="submit" class="btn btn-danger text-light">
                                    <i class="bi bi-trash"></i>
                                </button>                                
                            </form>
                        </td>  
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <!-- recipe modal -->
            <div>

            </div>


        </div>

    </div>

</section>

<script>

    const toggleForm = () => {
        let form = document.getElementById("form-new-recipe");
        form.classList.toggle("d-none");
        form.classList.toggle("d-block");
    };

    const toggleEdit = (id, title, content, file, approved, customer_id ) => {
        let form = document.getElementById("form-edit-recipe");
        document.getElementById("edit-id").value = id;
        document.getElementById("edit-title").value = title;
        document.getElementById("edit-content").value = content;
        document.getElementById("edit-file").value = file;
        document.getElementById("edit-approved").value = approved; 
        document.getElementById("edit-customer-id").value = customer_id;
             

        form.classList.remove("d-none");
        form.classList.add("d-block");
    };

    const toggleCancel = () => {
        let edit = document.getElementById("form-edit-recipe");
        edit.classList.add("d-none");
    };

    const changeApproved = () => {
        let icon = document.getElementById("approved-icon");
        icon.classList.toggle("bi-emoji-neutral");
        icon.classList.toggle("bi-emoji-smile");

        let color = document.getElementById("approved-color");
        color.classList.toggle("btn-secondary");
        color.classList.toggle("btn-success");
    };


    
    ClassicEditor
    .create(document.querySelector('editor'))
    .then(editor => console.log(editor))
    .catch(error => console.error(error));




</script>