<section class="container">

    <!--Customers Data -->
    <h1 class="h2 mb-3">Customers</h1>
    <hr class="mb-5">
    <div class="container mb-5">
        {{#if customersData}}
        <div class="card text-dark bg-light mb-5 p-3">
            <div class="row text-center">
                <div class="col-sm-6 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title text-muted">Registered</h5>
                        <p class="fs-4 fw-bold card-text">{{customersData.registered}}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title text-muted">With purchases</h5>
                        <p class="fs-4 fw-bold card-text">{{customersData.with_purchases}}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title text-muted">Without purchases</h5>
                        <p class="fs-4 fw-bold card-text">{{customersData.without_purchases}}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title text-muted" data-bs-container="body" data-bs-toggle="popover"
                            data-bs-placement="top"
                            data-bs-content="Customers who have done purchases in the latest 30 days">
                            <sup>*</sup>Actives
                        </h5>
                        <p class="fs-4 fw-bold card-text">{{customersData.active}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="h4 text-center">Average of purchases per customer: <span class="fs-4 fw-bold">??</span></h2>
        </div>
        {{/if}}
    </div>


    <!--Total Sales Data -->
    <h1 class="h2 mb-3">Total Sales</h1>
    <hr class="mb-5">
    <div class="container mb-5">
        {{#if purchasesData}}
        <div class="row mb-5">
            <div class="col mb-3">
                <div class="card h-100 text-dark bg-light p-3">
                    <div class="row text-center">
                        <h2 class="h4">Total</h2>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title text-muted">Quantity</h5>
                                <p class="fs-4 fw-bold card-text">{{purchasesData.total_sales}} units</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title text-muted">Revenue</h5>
                                <p class="fs-4 fw-bold card-text">$ {{purchasesData.total_revenue}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card h-100 text-dark bg-light p-3">
                    <div class="row text-center">
                        <h2 class="h4">Past 30 days</h2>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title text-muted">Quantity</h5>
                                <p class="fs-4 fw-bold card-text">{{purchasesData.sales_last_month}} units</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title text-muted">Revenue</h5>
                                <p class="fs-4 fw-bold card-text">$ {{purchasesData.revenue_last_month}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="h4 text-center">Average of products per purchase:
                <span class="fs-4 fw-bold">{{purchasesData.average_products}}</span> units
            </h2>
        </div>
        {{/if}}
    </div>

    <!--Daily sales Chart -->
    <div class=" container my-5">
        <div id="dailyReport" class="mx-auto">
            <span id="salesDataPoints" class="d-none">{{#if salesDataPoints}} {{salesDataPoints}} {{/if}}</span>
            <span id="revenueDataPoints" class="d-none">{{#if revenueDataPoints}} {{revenueDataPoints}} {{/if}}</span>
        </div>

        {{#if average_ticket}}
        <div class="my-5">
            <h2 class="h4 text-center">Average ticket price: $ <span class="fs-4 fw-bold">{{average_ticket}}</span></h2>
        </div>
        {{/if}}
    </div>

    <!-- Sales by Categories -->
    <div>
        <h1 class="h3 mb-3">Sales by Category</h1>
        <hr class="mb-5">
        <div class="mx-auto pb-3">
            <!--Distribution of total sales Chart -->
            <div id="salesByCategory">
                <span id="percentageByCategory" class="d-none">
                    {{#if percentageByCategory}} {{percentageByCategory}} {{/if}}
                </span>
            </div>
        </div>
        <div class="mx-auto my-5">
            <!--Distribution of daily sales Chart -->
            <div id="dailySalesByCategory">
                <span id="dailyGroundCoffee" class="d-none">
                    {{#if dailyGroundCoffee}} {{dailyGroundCoffee}} {{/if}}
                </span>
                <span id="dailyWholeBean" class="d-none">
                    {{#if dailyWholeBean}} {{dailyWholeBean}} {{/if}}
                </span>
                <span id="dailyCapsules" class="d-none">
                    {{#if dailyCapsules}} {{dailyCapsules}} {{/if}}
                </span>
            </div>
        </div>
    </div>

    {{#if productTopSelling}}
    <div></div>
    {{/if}}


</section>

<script>

    //POPOVER
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    });

    //CANVASJS
    window.onload = function () {
        CanvasJS.addColorSet("coffeeShades",
            [//colorSet Array
                "#bc8a5f",
                "#582f0e",
                "#260701"
            ]);

        //Daily sales Chart
        var salesChart = new CanvasJS.Chart("dailyReport", {
            animationEnabled: true,
            colorSet: "coffeeShades",
            title: {
                text: "Daily Sales",
                fontFamily: "Open Sans",
                fontWeight: "normal",
                fontSize: 30,
                margin: 50
            },
            axisY: {
                prefix: "$"
            },
            axisY2: {
                title: "Items"
            },
            toolTip: {
                shared: true
            },
            data: [
                {
                    type: "column",
                    name: "Quantity",
                    showInLegend: true,
                    axisYType: "secondary",
                    dataPoints: eval(document.getElementById("salesDataPoints").innerHTML)
                },
                {
                    type: "line",
                    name: "Revenue",
                    showInLegend: true,
                    yValueFormatString: "$#,##0",
                    dataPoints: eval(document.getElementById("revenueDataPoints").innerHTML)
                }
            ]
        });
        salesChart.render();

        //Distribution of total sales Chart
        var totalByCategoryChart = new CanvasJS.Chart("salesByCategory", {

            animationEnabled: true,
            colorSet: "coffeeShades",
            title: {
                horizontalAlign: "left",
                text: "Distribution of total sales",
                fontFamily: "Open Sans",
                fontSize: 24,
                padding: 40
            },
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>{y}%</strong>",
                indexLabel: "{name} - {y}%",
                dataPoints: eval(document.getElementById("percentageByCategory").innerHTML)

            }]
        });
        totalByCategoryChart.render();

        //Distribution of daily sales Chart
        var dailyByCategoryChart = new CanvasJS.Chart("dailySalesByCategory", {

            animationEnabled: true,
            colorSet: "coffeeShades",
            title: {
                horizontalAlign: "left",
                text: "Distribution of daily sales",
                fontFamily: "Open Sans",
                fontSize: 24,
                padding: 40
            },
            axisY: {
                suffix: "%"
            },
            toolTip: {
                shared: true
            },
            legend: {
                horizontalAlign: "center"
            },
            data: [
                {
                    type: "stackedColumn100",
                    name: eval(document.getElementById("dailyCapsules").innerHTML)[0].name,
                    showInLegend: true,
                    dataPoints: eval(document.getElementById("dailyCapsules").innerHTML)
                },
                {
                    type: "stackedColumn100",
                    name: eval(document.getElementById("dailyGroundCoffee").innerHTML)[0].name,
                    showInLegend: true,
                    dataPoints: eval(document.getElementById("dailyGroundCoffee").innerHTML)
                },
                {
                    type: "stackedColumn100",
                    name: eval(document.getElementById("dailyWholeBean").innerHTML)[0].name,
                    showInLegend: true,
                    dataPoints: eval(document.getElementById("dailyWholeBean").innerHTML)
                }]

        });
        dailyByCategoryChart.render();

    }

</script>