<!-- coffee categories section -->
<section id="categories">
    <!-- categories menu -->
    <div class="border-top border-bottom p-3">
        <ul class="nav justify-content-center">
            {{#each categories}}
            <li class="nav-item">
                <a class="nav-link text-secondary" href="/products/category?id={{this.id}}">{{this.name}}</a>
            </li>
            {{/each}}
        </ul>
    </div>

    <!-- filter by store -->
    <div class="p-3 col-6">
        <select class="form-select" aria-label="Default select example">
            <option selected> Filter by store</option>
            {{#each stores}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>

    <!-- products by category -->
    <div class="row mx-1 py-3">
        <div class="col-3 d-none d-md-block ">
            <img src="/images/product-{{category.id}}.jpg" class="img-fluid rounded sticky-top"
                alt="coffee image">
        </div>
        <div class="col-9 mx-auto">
            <div class="py-5">
                <h2 class="pb-2 border-bottom">{{#if category}}{{category.name}}{{/if}}</h2>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2 py-5">
                    {{#each products}}
                    <div class="col">                        
                            <div class="card h-100 pt-3 shadow-sm bg-body rounded">
                                <div class="row g-0">
                                    <div class="col-md-6">
                                        <a href="/products/product?id={{this.id}}" class="text-decoration-none link-secondary">
                                        <img src="/images/product.jpg" class="img-fluid" alt="product image"></a>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <p class="card-title fw-bold"> <a href="/products/product?id={{this.id}}" class="text-decoration-none link-dark"> {{this.name}} </a></p>
                                            <p class="card-title">Product brand</p>
                                            <p class="card-text">{{this.price}}</p>
                                            <a href="#" class="btn btn-outline-secondary mb-4 mx-auto"
                                                data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart"
                                                aria-controls="offcanvasCart">
                                                <i class="bi bi-cart-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <!-- offcanvas cart -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Your cart</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <img src="/images/product.jpg" class="img-fluid" alt="product image">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-title fw-bold">Product name</p>
                                <p class="card-title">Product brand</p>
                                <p class="card-text">Product price</p>
                                <a href="#">-</a><span>itens</span><a href="#">+</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="d-grid">
                    <a href="/cart" class="btn rounded-pill btn-danger" type="button">Checkout</a>
                </div>
            </div>
        </div>
    </div>













    <!-- 
        <div>
            <form action="/products/category?id">
                <div class="col-sm">
                    <label for="store" class="form-label">Category</label>
                    <select class="form-select" id="store" name="store">
                        <option selected>Choose...</option>
                        {{#each stores}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </form>
        </div>
         -->







</section>