<section class="bg-light py-5">
    <!-- products by category -->
    <div class="container row py-5 mx-auto border-product">
        <div class="col-12 col-md-3 mx-auto mb-3 ">
            <!-- img src="/images/product-{{product.id}}.jpg" -->
            <img src="/images/product.jpg" class="img-fluid rounded" alt="coffee image">
        </div>
        <div class="col-12 col-md-4 mx-auto">
            <h2 class="pb-2 border-bottom">{{product.name}}</h2>
            <p>{{product.brand.name}}</p>
            <p>{{product.price}}</p>
            <div class="d-grid">
                <a href="/cart" class="btn rounded-pill btn-danger" type="button">
                    <i class="bi bi-cart-plus fs-4"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- carousel -->
<section class="container py-5">
    <h1 class="h3 mb-3 text-center">Similar Products</h1>
    <div id="carouselControls" class="carousel carousel-dark slide " data-bs-ride="carousel">
        <div class="carousel-inner">
            {{#eachRow similarProducts 4 }}
            {{#if first}} <div class="carousel-item active"> {{else}}
            <div class="carousel-item"> {{/if}}
                <div class="row row-cols-md-4">
                    {{#each columns}}                    
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" style="width: 16rem;">
                                    <a href="/products/product?id={{this.id}}" class="text-decoration-none link-secondary">
                                    <img src="/images/product.jpg" class="card-img-top" alt="coffee image"></a>
                                    <div class="card-body">
                                        <h5 class="card-title">{{this.name}}</h5>
                                        <p class="card-text">Product brand</p>
                                        <p class="card-text">{{this.price}}</p>
                                        <a href="#" class="d-grid btn btn-outline-secondary mb-4 mx-auto"> <i class="bi bi-cart-plus" style="font-size: 1.5em"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    {{/each}}
                </div>
            </div>
            {{/eachRow}}
        </div>

        <button class="carousel-control-prev btn-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btn-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>        
    </div>
</section>